<div>
  <div>
    <h1>
    <%= @current_user.first_name %>
    <%= @current_user.first_name %>'s bookmarks
    </h1>
  </div>
</div>
<div>
  <div>
    <form action="/insert_bookmark" method="post">
      <input hidden type="text" id="user_id_box" name="query_user_id" value="<%=@current_user.id %>">
      <div>
      <% if Movie.all.size>0%>
          <select name="query_movie_id" id="movies">
          <% Movie.all.each do |m|%>
             <% if Bookmark.where(:user_id=>@current_user.id,:movie_id=>m.id).length.zero?%>
              <option value="<%=m.id%>"><%=m.title%></option>
             <% end %>
          <% end %>
          </select>
      <% end %>
      </div>
      <button>Bookmark this movie!</button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Movie
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_bookmarks.each do |a_bookmark| %>
       <% if a_bookmark.user_id == @current_user.id %>
      <tr>
        <td hidden >
          <%= a_bookmark.id %>
        </td>

        <td hidden>
          <%= a_bookmark.user_id %>
        </td>

        <td>
          <%= Movie.where(:id=>a_bookmark.movie_id).first.title %>
        </td>

        <td>
          <%= time_ago_in_words(a_bookmark.created_at) %> ago
        </td>
        <td>
        <a href="/delete_bookmark/<%= a_bookmark.id %>">
          Un-bookmark
        </a>
        </td>
      </tr>
      <% end %>
      <% end %>
    </table>
  </div>
</div>

<hr>
